## Findings

    1. Step 1
    2. Step 2
    3. Step 3
       * Item 3a
       * Item 3b
       * Item 3c

## Set up

In [1]:
import requests
import pandas as pd

/Users/monicacordero/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas-1.4.0.dev0+143.g5675cd8ab2-py3.8-macosx-11.3-arm64.egg/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
import numpy as np

In [3]:
from datetime import datetime
from datetime import date

## Get and check the data

In [4]:
pwd

'/Users/monicacordero/Documents/IM'

In [5]:
## osha accident abstract
df2 = pd.read_csv("/Users/monicacordero/Documents/IM/osha_accident_abstract.csv")
df2.head(1)

,summary_nr,line_nr,abstract_text,load_dt
0,38083,1,An employee working for Asplundh Tree Expert C...,2019-07-22 00:19:26 EDT

In [22]:
# osha accident df.describe() me da mean, min
df= pd.read_csv("osha_accident.csv")
df.head(1)

,summary_nr,report_id,event_date,event_time,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,abstract_text,load_dt
0,9407,112600,1984-03-25 00:00:00,NaN,NONE,NaN,NaN,NaN,NaN,NaN,NaN,2621,X,NaN,NaN,2019-07-22 00:18:27 EDT

In [7]:
# number of rows and column types
df.shape

(142981, 16)

In [8]:
## Cheking null Columns, Non-Null, type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142981 entries, 0 to 142980
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   summary_nr     142981 non-null  int64
 1   report_id      142981 non-null  int64
 2   event_date     142981 non-null  object
 3   event_time     0 non-null       float64
 4   event_desc     142979 non-null  object
 5   event_keyword  142713 non-null  object
 6   const_end_use  30759 non-null   object
 7   build_stories  21528 non-null   float64
 8   nonbuild_ht    15317 non-null   float64
 9   project_cost   25498 non-null   object
 10  project_type   31130 non-null   object
 11  sic_list       109089 non-null  object
 12  fatality       64554 non-null   object
 13  state_flag     0 non-null       float64
 14  abstract_text  0 non-null       float64
 15  load_dt        142981 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 17.5+ MB

In [21]:
## checking and filter by event_date column 
df.sort_values(by = ["event_date"],ascending = False)
df["event_date"] = pd.to_datetime(df["event_date"])
df_filtered = df[df["event_date"]>"2016-1-1"].copy()
# print(df_filtered)

In [26]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29258 entries, 112699 to 142069
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   summary_nr     29258 non-null  int64
 1   report_id      29258 non-null  int64
 2   event_date     29258 non-null  datetime64[ns]
 3   event_time     0 non-null      float64
 4   event_desc     29258 non-null  object
 5   event_keyword  29157 non-null  object
 6   const_end_use  5655 non-null   object
 7   build_stories  4200 non-null   float64
 8   nonbuild_ht    3255 non-null   float64
 9   project_cost   864 non-null    object
 10  project_type   5943 non-null   object
 11  sic_list       0 non-null      object
 12  fatality       10532 non-null  object
 13  state_flag     0 non-null      float64
 14  abstract_text  0 non-null      float64
 15  load_dt        29258 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(8)
memory usage: 3.8+ MB

In [25]:
## made a copy

## Analysis